.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;

  &__header {
    display: flex;
    flex-direction: column;

    [matIconButton] {
      color: var(--mat-sys-error-container);
      border: none;
      position: absolute;
      top: 6px;
      left: 6px;
      right: 6px;
      z-index: 2;
    }
  }


  img[mat-card-image] {
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin: 0;
  }

  mat-card-subtitle {
    margin-top: 6px;
  }

  mat-card-content {
    margin-top: 16px;
    flex-grow: 1;
  }

  mat-card-actions {
    gap: 10px;
  }
}