.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  
  img[mat-card-image] {
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin: 0;
  }

  mat-card-subtitle { 
    margin-top: 6px;;
  }

  mat-card-content {
    margin-top: 16px;
    flex-grow: 1;
  }

  mat-card-actions {
    gap: 10px;
  }
}