mat-icon.gray {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    opacity: 0.5;
}

mat-icon.success-icon {
    font-size: 64px;
    height: 64px;
    width: 64px;
    color: var(--mat-sys-primary);
    margin-bottom: 1rem;
}