
.success-snackbar {
  --mdc-snackbar-container-color: var(--mat-sys-primary);
  --mdc-snackbar-label-text-color: var(--mat-sys-on-primary);
  --mat-snack-bar-button-color: var(--mat-sys-on-primary);
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--mat-sys-error);
  --mdc-snackbar-label-text-color: var(--mat-sys-on-error);
  --mat-snack-bar-button-color: var(--mat-sys-on-error);
}