@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';
@use '@angular/material' as mat;

$toolbar-height: 64px;

.main-header {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  padding: 0 24px;
  position: relative;
  z-index: 10;
  min-height: $toolbar-height;

  &__title {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

    &__buttons {
        display: none;
        gap: 8px;
        align-items: center;

        @include mixins.respond-to(md) {
            display: flex;
        }
    }

  &__mobile-menu-btn {
    display: block;

    @include mixins.respond-to(sm) { 
      display: none;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}
