.main-header {
  padding: 0 24px;
  position: relative;
  z-index: 10;

  &__logo {
    height: 32px; // reszponzív méret
    width: auto;
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}