<mat-toolbar class="main-header">
    <div routerLink="/" class="main-header__title">{{ toolbarTitle() }}</div>
    <span class="example-spacer"></span>
    <nav class="main-header__buttons">
        <button routerLink="/products" matButton>Products</button>
        <button routerLink="/cart" matIconButton [matBadge]="cartService.count()"
            [matBadgeHidden]="cartService.isCartEmpty()" matBadgeColor="warn" matTooltip="Cart is empty" [matTooltipDisabled]="!cartService.isCartEmpty()">
            <mat-icon>shopping_cart</mat-icon>
        </button>

        @if (authService.isLoggedIn()) {
            <span class="nav-text user-greeting">Hi, {{ authService.currentUser()?.name }}</span>
            <button (click)="authService.logout()" matButton>Logout</button>
        } @else {
            <button routerLink="/login" matButton>Login</button>
            <button routerLink="/register" matButton="filled">Sign up</button>
        }
    </nav>
    <button matIconButton class="main-header__mobile-menu-btn" (click)="onMenuToggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>