@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

.main-header {
  padding: 0 24px;
  position: relative;
  z-index: 10;

  &__title {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}