@use 'variables';
@use "sass:map";

@mixin respond-to($breakpoint) {
    @if map.has-key(variables.$breakpoints, $breakpoint) {
        $value: map.get(variables.$breakpoints, $breakpoint);

        @if $value ==0 {
            @content;
        }

        @else {
            @media (min-width: $value) {
                @content;
            }
        }
    }
}

@mixin favorite-icon-style {
    color: var(--mat-sys-error);

    &.favoriteProduct {
        color: var(--mat-sys-error-container);
    }
}