$page-max-width: 1440px;

$page-sm-horizontal-padding: 32px;
$page-xl-horizontal-padding: 90px;

$breakpoints: (
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "xxl" : 1536px
);