@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';
@use '@angular/material' as mat;

:host {
  width: 100%;
}

.product-details-page {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-container-dark);
  gap: 8px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;

  &__image {
    background-color: var(--mat-sys-on-secondary);
    padding: 8px;
    border-radius: 16px;
    width: clamp(250px, 50vw, 400px);
    height: clamp(250px, 50vw, 400px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      [matIconButton] {
        @include mixins.favorite-icon-style;
      }
    }

    &-tags {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }

    &-actions {
      margin-top: auto;
      margin-left: auto;
      display: flex;
      gap: 1rem;

      button {
        padding: 1.5rem 2rem; // Larger touch target
      }
    }
  }


  @include mixins.respond-to(md) {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: center;
    padding: vars.$page-xl-vertical-padding vars.$page-xl-horizontal-padding;
  }
}
