@let product = this.product();

@if (product) {
<div class="product-details-page">
  <div class="product-details">
    <div class="product-details__image">
      <img [src]="product.imageUrl" [alt]="product.name" />
    </div>

    <mat-divider vertical></mat-divider>

    <div class="product-details__info">
      <div class="product-details__info-header">
        <h3>{{ product.name }}</h3>
        <button matIconButton [class.favoriteProduct]="product.favourite" (click)="facade.toggleFavorite(product.id)">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

      <p class="p2">{{ product.price | currency }}</p>

      <div class="product-details__info-tags">
        @for (type of product.types; track type) {
        <mat-chip>{{ type }}</mat-chip>
        }
      </div>

      <p class="p3">{{ product.description }}</p>

      <div class="product-details__info-actions">
        <button matButton="elevated" routerLink="/products">Back to Products</button>
        <button matButton="filled" color="primary">Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="related-products">
    <app-related-products [products]="relatedProducts()"></app-related-products>
  </div>
</div>

}