@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  @include mixins.page-host-flex();
}

.login-section {
  height: 100%;

  &__body {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

}

.login-card {
  padding: 16px;
  max-width: 400px;
  width: 100%;

  mat-card-header {
    margin-bottom: 24px;
    justify-content: center;
    text-align: center;

    mat-card-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  button {
    margin-top: 12px;
    padding: 24px;
    font-weight: bold;
  }
}

.login-footer {
  padding: 16px;
  text-align: center;
  font-size: 0.9rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}