<section class="products-section page-column-layout">
  <div class="section__title">
    <h3>{{ title() }}</h3>
  </div>

  <div class="products-section__header">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search products</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of facade.suggestedProducts(); track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-paginator [length]="facade.paginatorLength()" [pageSize]="facade.pageSize()" [pageIndex]="facade.pageIndex()"
      [pageSizeOptions]="[2, 4, facade.paginatorLength()]" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

  <div class="products-section__body">
    <app-products-filter (filterChange)="onFilterChange($event)"></app-products-filter>

    <div class="products-section__grid">
      @for (product of facade.pagedProducts(); track product.id) {
      <app-product-card [product]="product" (toggleFavorite)="facade.toggleFavorite($event)"></app-product-card>
      } @empty {
        <p class="p4">No results found with the current filter.</p>
      }
    </div>
  </div>
</section>