@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  width: 100%;
}

.products-section {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-container-dark);

  &__title {
    padding: 16px 12px 8px;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: end;
    padding: 12px;
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;
}