@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  width: 100%;
}

.products-section {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-container-dark);

  &__title {
    padding: 16px 12px 8px;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: end;
    padding: 12px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 1024px;

    @include mixins.respond-to(md) {
      flex-direction: row;
    }
  }

  app-products-filter {
    flex: 0 0 280px;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    column-gap: 18px;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;

    @include mixins.respond-to(md) {
      justify-content: start;
    }
  }
}