@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';
@use '@angular/material' as mat;

:host {
  width: 100%;
}

.products-section {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-container-dark);

  &__title {
    padding: 16px 12px 8px;
    text-align: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 16px;
    flex-wrap: wrap;

    @include mat.paginator-overrides((container-background-color: rgba(0, 0, 0, 0)));

    mat-form-field {
      grid-column: 2;
      justify-self: center;
    }

    mat-paginator {
      grid-column: 3;
      justify-self: end;
    }

    @include mixins.respond-to(md) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-content: normal;

    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 1024px;

    app-products-filter {
      flex: 0 0 280px;
      padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;
    }

    @include mixins.respond-to(md) {
      flex-direction: row;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    column-gap: 18px;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;

    @include mixins.respond-to(md) {
      justify-content: start;
    }
  }
}