:host {
  width: 100%;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 2rem;
  
  .success-icon {
    font-size: 64px;
    height: 64px;
    width: 64px;
    color: var(--mat-sys-primary);
    margin-bottom: 1rem;
  }
}
