@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  @include mixins.page-host-flex();
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 2rem;
}
