<footer class="footer">
    <div class="footer__content">
        <img class="footer__logo" src="assets/images/lorem-ipsum-logo.png" alt="footer-logo">
        <ul>
            <li><a routerLink="/login" class="nav-text">Log in</a></li>
            <li><a routerLink="/register" class="nav-text">Register</a></li>
        </ul>
        <ul>
            
            <li>
                <a routerLink="/products" class="nav-text">Products</a>
            </li>
            <li>
                <a class="nav-text">Privacy policy</a>
            </li>
             <li>
                <a class="nav-text">Contact</a>
            </li>
        </ul>
    </div>
    <div class="footer__bottom"><span>&copy;</span> 2026 All rights reserved</div>
</footer>