<footer class="footer">
    <div class="footer__content">
        <img class="footer__logo" src="assets/images/lorem-ipsum-logo.png" alt="footer-logo">
        <ul>
            <li><a class="nav-text">Sign in</a></li>
            <li><a class="nav-text">Sign up</a></li>
        </ul>
        <ul>
            <li>
                <a class="nav-text">Contact</a>
            </li>
            <li>
                <a class="nav-text">privacy policy</a>
            </li>
        </ul>
    </div>
    <p class="footer__bottom">2026 All rights reserved</p>
</footer>