@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

$hero-min-height: 460px;
$hero-backround-color: var(--mat-sys-secondary);

.hero {
    display: flex;
    min-height: $hero-min-height;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding 0;
    background-color: $hero-backround-color;

    color: var(--mat-sys-on-secondary);

    @include mixins.respond-to(lg) {
        background-image: url('../../../assets/images/lorem-ipsum-logo.png');
        background-repeat: no-repeat;
        background-position: right 50px center;
        background-size: 400px auto;
    }

    @include mixins.respond-to(xl) {
        padding: vars.$page-xl-vertical-padding vars.$page-xl-horizontal-padding 0;
    }
}

.home-banner-tabs {
    justify-content: space-between;
    width: 100%;
}