<div class="cart-section">
  <div class="cart-section__content">
    <div class="section__title">
      <h3>Shopping Cart</h3>
    </div>

    @if (cartService.items().length === 0) {
    <div class="empty-cart">
      <mat-icon>shopping_cart_off</mat-icon>
      <p>Your cart is empty.</p>
      <button matButton="filled" routerLink="/products">Start Shopping</button>
    </div>
    } @else {
    <div class="cart-section__body">
      <div class="cart-section__items">
        @for (item of cartService.items(); track item.product.id) {
            <app-cart-product [product]="item"></app-cart-product>
        }
      </div>

      <div>
        <app-cart-summary (proceedToCheckout)="onCheckout()" (clearCart)="onClearCart()"></app-cart-summary>
      </div>
    </div>
    }
  </div>
</div>