<div class="cart-section page-column-layout">
  <div class="section__title">
    <h3>{{ title() }}</h3>
  </div>

  @if (cartService.items().length === 0) {
  <div class="empty-cart">
    <div class="empty-cart__body">
      <mat-icon class="gray">shopping_cart_off</mat-icon>
      <p>Your cart is empty.</p>
      <button matButton="filled" routerLink="/products">Start Shopping</button>
    </div>
  </div>
  } @else {
  <div class="cart-section__body">
    <div class="cart-section__items">
      @for (item of cartService.items(); track item.product.id) {
      <app-cart-product [product]="item"></app-cart-product>
      }
    </div>

    <div>
      <app-cart-summary (proceedToCheckout)="onCheckout()" (clearCart)="onClearCart()"></app-cart-summary>
    </div>
  </div>
  }

</div>