@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  @include mixins.page-host-flex();
}

.cart-section {

  &__title {
    padding: 16px 12px 8px;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 1024px;
    align-items: center;
    gap: 3em;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;

    @include mixins.respond-to(lg) {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      padding: vars.$page-xl-vertical-padding vars.$page-xl-horizontal-padding;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}

.empty-cart {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }
}