@use '../../../styles/abstracts/variables' as vars;
@use '../../../styles/abstracts/mixins';

:host {
  width: 100%;
}

.cart-section {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-container-dark);
    flex: 1 1 1024px;

  }

  &__title {
    padding: 16px 12px 8px;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: vars.$page-sm-vertical-padding vars.$page-sm-horizontal-padding;

    @include mixins.respond-to(lg) {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      padding: vars.$page-xl-vertical-padding vars.$page-xl-horizontal-padding;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 1rem;
  text-align: center;

  mat-icon {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    opacity: 0.5;
  }
}