@use '@angular/material' as mat;

.products-filter {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;

        // az ng-content miatt kell, a stílusok innen érhetőek el
        @include mat.checkbox-overrides((label-text-color: var(--mat-sys-secondary--fixed),
                label-text-size: 1rem));

        li {
            list-style: none;
        }

        mat-slider {
            width: 100%;
            @include mat.slider-overrides((inactive-track-color: gray));
        }
    }

}