@use '../../../../styles/abstracts/variables' as vars;
@use '../../../../styles/abstracts/mixins';

.cart-summary {
  background-color: var(--mat-sys-on-secondary);
  padding: 1rem;
  width: 320px;

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .summary-row {
    display: flex;
    justify-content: space-between;

    &.total {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }

  .checkout-btn {
    width: 100%;
  }
}