h1 {
    font: var(--mat-sys-display-large);
}

h2 {
    font: var(--mat-sys-display-medium);
    color: var(--mat-sys-on-secondary);
}

h3 {
    font: var(--mat-sys-display-small);
    color: var(--mat-sys-secondary-fixed);
}

h4 {
    font: var(--mat-sys-headline-large);
}

h5 {
    font: var(--mat-sys-headline-medium);
    color: var(--mat-sys-on-secondary-fixed-variant);
}

h6 {
    font: var(--mat-sys-headline-small);
}


.p1 {
    font: var(--mat-sys-headline-small);
    color: var(--mat-sys-on-secondary-fixed-variant);
}

.p2 {
    font: var(--mat-sys-title-medium);
    font-size: 1.2rem;
}

.p3 {
    font: var(--mat-sys-body-large);
    font-size: 1rem;
}

.nav-text {
    font: var(--mat-sys-label-large);
    font-size: 1rem;
    color: var(--mat-sys-on-secondary-container);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: var(--mat-sys-primary);
    }
}