h1 {
    font: var(--mat-sys-display-large);
}

h2 {
    font: var(--mat-sys-display-medium);
}

h3 {
    font: var(--mat-sys-display-small);
    color: var(--mat-sys-secondary-fixed);
}

h4 {
    font: var(--mat-sys-headline-large);
}

h5 {
    font: var(--mat-sys-headline-medium);
    color: var(--mat-sys-on-secondary-fixed-variant);
}

h6 {
    font: var(--mat-sys-headline-small);
}


.p1 {
    font: var(--mat-sys-headline-small);
    color: var(--mat-sys-on-secondary-fixed-variant);
}